In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
url = "https://github.com/ipython-books/cookbook-data/raw/master/bikes.csv"

In [3]:
df = pd.read_csv(url, index_col='Date', parse_dates=True, dayfirst=True)

In [4]:
df.head(10)

,Unnamed: 1,Berri1,CSC,Mais1,Mais2,Parc,PierDup,Rachel1,Totem_Laurier
Date,,,,,,,,,
2013-01-01,00:00,0,0,1,0,6,0,1,0
2013-01-02,00:00,69,0,13,0,18,0,2,0
2013-01-03,00:00,69,2,21,6,22,1,0,0
2013-01-04,00:00,80,0,22,4,16,0,125,0
2013-01-05,00:00,52,4,19,3,12,0,97,0
2013-01-06,00:00,37,0,23,46,8,0,47,0
2013-01-07,00:00,159,0,81,211,60,0,200,0
2013-01-08,00:00,327,0,156,393,66,0,335,0
2013-01-09,00:00,332,0,155,446,84,0,366,0
2013-01-10,00:00,391,0,232,516,88,0,463,0

In [5]:
df.describe()

,Berri1,CSC,Mais1,Mais2,Parc,PierDup,Rachel1,Totem_Laurier
count,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,2743.390805,1221.858238,1757.590038,3224.130268,1669.425287,1152.885057,3084.425287,1858.793103
std,2247.957848,1070.037364,1458.793882,2589.514354,1363.738862,1208.848429,2380.255540,1434.899574
min,0.000000,0.000000,1.000000,0.000000,6.000000,0.000000,0.000000,0.000000
25%,392.000000,12.000000,236.000000,516.000000,222.000000,12.000000,451.000000,340.000000
50%,2771.000000,1184.000000,1706.000000,3178.000000,1584.000000,818.000000,3111.000000,2087.000000
75%,4767.000000,2168.000000,3158.000000,5812.000000,3068.000000,2104.000000,5338.000000,3168.000000
max,6803.000000,3330.000000,4716.000000,7684.000000,4103.000000,4841.000000,8555.000000,4293.000000

In [6]:
df.columns = ['Date', 'Berri1', 'CSC', 'Mais1', 'Mais2', 'Parc', 'PierDup', 'Rachel1', 'Totem_Laurier']

In [7]:
plt.rcParams['figure.figsize'] = [6, 3]
df.ix['2013-01-01':'2013-04-01'].plot(legend=False)

In [9]:
plt.rcParams['figure.figsize'] = [24, 6]
df.ix['2013-01-01':'2013-04-01'].plot(legend=False)

Viewers perceive the line orientation
θ = tan−1(Rm). The Correspondence Principle tells us to maximize
the change ω in the orientation for a given change α in slope, i.e.
find the R that maximizes dθ = d tan−1(Rm) = r . Using dm dm 1+m2r2
calculus,studentssolve d dθ =0andfindthatR=±1 ⇒θ= dR dm m
tan−1(±1) = ±45◦.

## Slope

\begin{equation*}
m = \frac{\Delta y}{\Delta x}
\end{equation*}

## Once plotted

\begin{equation*}
m = \frac{\Delta v}{\Delta h} = Rm
\end{equation*}

## Perceived line orientation

\begin{equation*}
\Theta = \tan^{-1}(Rm)
\end{equation*}

## Correspondence Principle tells us to maximize the change ω in the orientation for a given change α in slope

Find the R that maximizes:

\begin{equation*}
\frac{d\Theta}{dm} = \frac{d}{dm} \tan^{−1}(Rm) = \frac{r}{1 + m^2r^2}
\end{equation*}

Solve:

\begin{equation*}
\frac{d}{dr}\frac{d\Theta}{dm} = 0
\end{equation*}

Find:
\begin{equation*}
R = \pm \frac{1}{m} \implies \Theta = 45\deg
\end{equation*}